body {
    font-family: "EB Garamond", serif; 
    margin: 0;
}

/* header stuff starts here */
header {
    background-color: #850101;
    padding: 1 rem 10px;
}
header span{
    color: #FE828C;
    font-size: 1.6rem;
    font-weight: 700;
}

nav li.active a {
    background-color: #850101;
    color: #FE828C;
}

nav a:hover {
    color: white;
}

/* main stuff here */
main {
    padding: 1rem 10 px;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

main h1{
    font-family: "Quicksand", sans-serif;
    font-size: 48px;
    text-align: center;
    font-style: normal;
    color: #FE828C;
}

.playfair-regular {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

.eb-garamond-regular{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.li-1 {
    color:#FE828C;
    font-weight:32px;
    font-family: "EB Garamond", serif;
    font-weight: normal;
}
.li-2 {
    color:#FFFFFF;
    font-size: 32px;
    font-family: "EB Garamond", serif;
    font-weight: normal;
}
main p {
    margin: 0;
    color: #000000;
    font-family: "Playfair", serif;
    font-weight: normal;
    font-size: 36px;
}
 
main a.hover {
    color:#000000;
}
main a:hover {
    color: #FFFFF0;
}

/* footer stuff here */
footer {
    background-color: #FFFFFF;
    text-align: left;
    padding: 1 rem 0;
    font-size: .8rem;
    color: #000000;
    letter-spacing: 3px;
}
footer p{
    margin: 0;
}