body {
    font-family: "EB Garamond", serif; 
    margin: 0;
}

/* header stuff starts here */
header {
    background-color: #850101;
    padding: 1 rem 10px;
}
header span{
    color: #FE828C;
    font-size: 1.6rem;
    font-weight: 700;
}

nav li.active a {
    background-color: #850101;
    color: #FE828C;
}

nav a:hover {
    color: white;
}

/* main stuff here */
main {
    padding: 1rem 10 px;
}

main li.active a{
    color:#FE828C;
    font-weight:32px;
    font-family: "EB Garamond", serif;
    font-weight: normal;
}
main a.hover {
    color: #000000;
}
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
main h1{
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    text-align: center;
    font-style: normal;
    color: #FE828C;
}
main h2 {
    font-family: "EB Garamond", serif; 
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
    color: #000000
}

.playfair-regular {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

main h3 {
    font-family: "Playfair", serif;
    font-size: 3rem;
    color: #06744f;
}
main h4 {
    font-family: "Playfair", serif;
    font-size: 2rem;
    color: #850101;
}

.eb-garamond-regular{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.para-1 {
    margin: 0;
    color: #000000;
    font-family: "EB Garamond", serif;
    font-weight: normal;
    font-size: 1.75em;
}
.para-2 {
    margin: 0;
    color: #FFFFF0;
    font-family: "EB Garamond", serif;
    font-size: 1.25rem;
    text-align: center;
}
.para-3 {
    margin:0;
    color: #FFFFF0;
    font-family: "EB Garamond", serif;
    font-size: 1.25rem;
    text-align: left;
}
.para-4 {
    margin: 0;
    color: #FFFFF0;
    font-family: "EB Garamond", serif;
    font-size: 1.25 rem;
    text-align: right;
}
main a {
    color:#000000;
}
main a:hover {
    color: #FFFFF0;
}

/* footer stuff here */
footer {
    background-color: #FFFFFF;
    text-align: left;
    padding: 1 rem 0;
    font-size: .8rem;
    color: #000000;
    letter-spacing: 3px;
}
footer p{
    margin: 0;
}