
/*fonts start here*/
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
.playfair-regular {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
.eb-garamond-regular{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.container {
    display: flex;
    justify-content: center;
    gap: 250px;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circles {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #D4AF37;
    z-index: 1;
}
.photo1 {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.photo2 {
       width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.photo3 {
       width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.rectangles {
    position: absolute;
    top: 95px;
    width: 408px;
    background-color: #000000;
    z-index: 0;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFF0;
    font-size: 20px;
    padding: 4px;
    box-sizing: border-box;
    overflow: hidden;
}
.rectangle h3 {
    margin: 0;
    font-size: 40px;
    font-family: "Playfair", serif;
}
.rectangle h4 {
    margin: 0;
    font-size: 32px;
    font-family: "Playfair", serif;
}
.rectangle p {
    margin: 4px 0 0;
    font-family: "EB Garamond", serif;
}
.rectangle1 {
    height: 373px;
    opacity: 50%;
}
.rectangle2 {
    height: 458px;
    opacity: 70%;
}
.rectangle3 {
    height: 373px;
    opacity: 50%;
}
body {
    margin: auto;
}

/* header stuff starts here */
.site-header {
    background-color: #850101;
    padding: 15px 30px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav-links li a {
    color: #FE828C;
    text-decoration: none;
    font-weight: normal;
    font-size: 32px;
    transition: color 0.3s ease;
    font-family: "EB Garamond", serif;
}
.nav-links li a:hover {
    color: #FFFFF0;
}
.logo-space {
    width: 187px;
    height: 100%;
    max-height: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li.active a {
    background-color: #850101;
    color: #FE828C;
}
nav a:hover {
    color: #FFFFF0;
}

/* main stuff here */
main {
    flex: 1;
    padding: 1rem 10px;
}
main li.active a{
    color:#FE828C;
    font-weight:32px;
    font-family: "EB Garamond", serif;
}
main h1{
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    text-align: center;
    font-style: normal;
    color: #FE828C;
}
main h2 {
    font-family: "EB Garamond", serif; 
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
    color: #000000
}
.para-1 {
    color: #000000;
    font-family: "EB Garamond", serif;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}
.para-2 {
    margin: auto;
    color: #FFFFF0;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    text-align: center;
    width: 50%;
    position: relative;
    top: -413px;
}
.a-1 {
    color:#06744F;
}
.a-2 {
    color:#850101;
}
main a:hover {
    color: #FE828C; 
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper1 {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* footer stuff here */
footer {
    background-color: #FFFFFF;
    text-align: left;
    padding: 10px;
}
footer p {
    margin: 0;
}


