/*fonts start here*/
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
.playfair-regular {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
.eb-garamond-regular{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.container {
    display: flex;
    vertical-align: auto;
    justify-content: center;
    margin: auto;
}
.circles {
    height: 190px;
    width: 190px;
    background-color: #D4AF37;
    border-radius: 50%;
    margin: 25px 159px 25px;
}
.container2 {
    display: flex;
    vertical-align: auto;
    justify-content: center;
    margin: auto;
}
.rectangles {
    height: 373px;
    width: 408px;
    background-color: #000000;
    margin: 10px 50px 10px;
}
.rectangle1 {
    height: 373px;
    width: 408px;
    opacity: 50%;
}
.rectangle2 {
    height: 458px;
    width: 408px;
    opacity: 70%;
}
.rectangle3 {
    height: 373px;
    width: 408px;
    opacity: 50%;
}

.container3 {
    display: flex;
    justify-content: center;
    vertical-align: auto;
    margin: auto;
}
.header {
    font-family: "Playfair", serif;
    text-align: center;
    vertical-align: auto;
}
.a-1 {
    font-size: 53px;
    color: #06744f;
}
.a-2 {
    color: #850101;
}
.h4-1 {
    font-size: 42px;
    color: #850101;
    margin: 10px 180px 10px 180px;
}
.h4-2 {
    font-size: 42px;
    color: #850101;
    margin: 10px 180px 10px 180px;
}
body {
    margin: auto;
}

/* header stuff starts here */
header {
    background-color: #850101;
    padding: 2rem;
}
nav li.active a {
    background-color: #850101;
    color: #FE828C;
}
nav a:hover {
    color: white;
}

/* main stuff here */
main {
    padding: 1rem 10 px;
}
main li.active a{
    color:#FE828C;
    font-weight:32px;
    font-family: "EB Garamond", serif;
}
main h1{
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    text-align: center;
    font-style: normal;
    color: #FE828C;
}
main h2 {
    font-family: "EB Garamond", serif; 
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
    color: #000000
}

.para-1 {
    color: #000000;
    font-family: "EB Garamond", serif;
    font-weight: normal;
    font-size: 37px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}
.para-2 {
    margin: auto;
    color: #FFFFF0;
    font-family: "EB Garamond", serif;
    font-size: 26px;
    text-align: center;
    width: 50%;
    position: relative;
    top: -413px;
}
.para-3 {
    margin:0;
    color: #FFFFF0;
    font-family: "EB Garamond", serif;
    font-size: 1.25rem;
    text-align: left;
}
.para-4 {
    margin: 0;
    color: #FFFFF0;
    font-family: "EB Garamond", serif;
    font-size: 1.25 rem;
    text-align: right;
}
main a:hover {
    color: #FE828C;
}

/* footer stuff here */
footer {
    background-color: #FFFFFF;
    text-align: left;
    padding: 1 rem 0;
    font-size: .8rem;
    color: #000000;
    letter-spacing: 3px;
}
footer p {
    margin:0;
}